<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dutch Passion Order Form</title>
</head>
<body>
    <h1>Dutch Passion Order Form</h1>
    <form id="order_form" method="post">
        <style>
            .visually-hidden {
                position: absolute;
                width: 1px;
                height: 1px;
                margin: -1px;
                padding: 0;
                overflow: hidden;
                clip: rect(0, 0, 0, 0);
                border: 0;
            }
            .totals_row {outline: solid thin}
        </style>
        
        <table>
            <tr>
                <th></th>
                {% for size in pack_sizes %}
                    <th style="position: sticky; top: 0px; background-color:white;">{{ size }}-packs</th>
                {% endfor %}
            </tr>
            {% for name in seed_names %}
            <tr>
                <td>{{ name }}</td>
                {% for size in pack_sizes %}
                    {% set key = [name, size]|join('') %}
                    {% set product = available_products.get(key, False) %}
                        <td>
                            {% if product %}
                                <label for="{{ product.id }}" class="visually-hidden">Quantity of {{ name }}-{{ size }}-packs to order</label>
                                <input class="seed" id="{{ product.id }}" type="number" min="0" name="{{ name }}-{{ size }}" label='not available' title="{{ name }} - {{ size }}-packs - ({{ product.type }})">
                            {% else %}
                                <label for="{{ key }}" class="visually-hidden">Quantity of {{ name }}-{{ size }}-packs to order</label>
                                <input type="text" id="{{ key }}" name="{{ name }}-{{ size }}" readonly tabindex=-1 style="background-color: #c2c2c2">
                            {% endif %}
                        </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        
        <input type="Reset" value="Clear" accesskey="c">
    </form>
    <button onclick="ShowPreview()" accesskey="s">Preview</button>
    <button onclick="submitOrder()" accesskey="q">Create File</button>
    <button onclick="getSeedByID('3801')" accesskey="t">test</button>
    <form>
    <input type="Submit" formaction="{{url_for('download')}}" accesskey="d" value="Download File">
    </form>
    <script>
        window.addEventListener('load', function() {
            document.getElementById('order_form').reset();
        });
    </script>
    <div id="order_preview"></div>
    <script>
        function ShowPreview() {
            var inputs = document.getElementsByClassName('seed');
            var container = document.getElementById('order_preview');
            container.innerHTML = '';
            var table = document.createElement('table');
            var tbody = document.createElement('tbody');
            var thead = document.createElement('thead');
            var headerRow = document.createElement('tr');
            var totalWholesaleValue = 0; // Total value for wholesale
            var totalRetailValue = 0; // Total value for retail
            var totalQuantity = 0;
            var seedPromises = [];

            if (inputs.length > 0) {
                getSeedByID(inputs[0].getAttribute('id')).then(firstSeed => {
                    Object.keys(firstSeed).forEach(key => {
                        var headerCell = document.createElement('th');
                        headerCell.textContent = key;
                        headerRow.appendChild(headerCell);
                    });
                    var quantityHeaderCell = document.createElement('th');
                    quantityHeaderCell.textContent = 'Quantity';
                    headerRow.appendChild(quantityHeaderCell);
                    thead.appendChild(headerRow);
                    table.appendChild(thead);

                    Array.from(inputs).forEach(input => {
                        var value = parseInt(input.value);
                        if (!isNaN(value) && value > 0) {
                            var seed_id = input.getAttribute('id');
                            var seedPromise = getSeedByID(seed_id).then(seed => {
                                var quantity = value;
                                totalQuantity += quantity;
                                if (seed.hasOwnProperty('wholesale_price')) {
                                    totalWholesaleValue += parseFloat(seed.wholesale_price) * quantity;
                                }
                                if (seed.hasOwnProperty('retail_price')) {
                                    totalRetailValue += parseFloat(seed.retail_price) * quantity;
                                }

                                var row = document.createElement('tr');
                                Object.keys(firstSeed).forEach(prop => {
                                    var cell = document.createElement('td');
                                    cell.textContent = seed[prop] ?? '';
                                    row.appendChild(cell);
                                });
                                var quantityCell = document.createElement('td');
                                quantityCell.textContent = value;
                                quantityCell.style.textAlign = 'right';
                                row.appendChild(quantityCell);
                                tbody.appendChild(row);
                            });
                            seedPromises.push(seedPromise);
                        }
                    });

                    Promise.all(seedPromises).then(() => {
                        var totalsRow = document.createElement('tr');
                        totalsRow.class = 'totals_row'
                        Object.keys(firstSeed).forEach(prop => {
                            var cell = document.createElement('td');
                            cell.style.fontWeight = 'bold';
                            if (prop === 'wholesale_price') {
                                cell.textContent = `€${totalWholesaleValue.toFixed(2)}`;
                            } else if (prop === 'retail_price') {
                                cell.textContent = `€${totalRetailValue.toFixed(2)}`;
                            } else {
                                cell.textContent = '';
                            }
                            totalsRow.appendChild(cell);
                        });
                        var quantityTotalCell = document.createElement('td');
                        quantityTotalCell.textContent = totalQuantity;
                        quantityTotalCell.style.fontWeight = 'bold';
                        quantityTotalCell.style.textAlign = 'right';
                        totalsRow.appendChild(quantityTotalCell);
                        tbody.appendChild(totalsRow);
                        table.appendChild(tbody);
                        container.appendChild(table);
                        window.scrollTo(0, document.body.scrollHeight);
                    }).catch(error => {
                        console.error('Error:', error);
                    });

                }).catch(error => {
                    console.error('Error fetching the first seed:', error);
                });
            }
        }
    </script>
    <script>
        class Seed {
            constructor(data) {
                this.id = data.id;
                this.name = data.name;
                this.type = data.type;
                this.pack_size = data.pack_size;
                this.wholesale_price = data.wholesale_price;
                this.retail_price = data.retail_price;
                this.manufacturer = data.manufacturer;
            }
}
        function getSeedByID(seed_id) {
            return fetch(`/get_seed_by_id?seed_id=${seed_id}`)
                .then(response => response.json())
                .then(data => {
                    var seed = new Seed(data);
                    console.log(seed);
                    return seed;
                })
                .catch(error => {
                    console.error('Error:', error);
                    throw error; // Re-throw the error to propagate it to the caller
                });
        }
    </script>
    <script>
        function submitOrder() {
            var orderData = {};
            var inputs = document.getElementsByClassName('seed');
            for (var i = 0; i < inputs.length; i++) {
                var productId = inputs[i].id;
                var quantity = parseInt(inputs[i].value);
                if (quantity >= 1) {
                    orderData[productId] = quantity;
                }
            }
            // Convert orderData to a JSON string
            var orderDataString = JSON.stringify(orderData);
            // Send the dictionary to the Flask endpoint as a query parameter
            fetch(`/create_file?order_data=${orderDataString}`)
            .then(response => {
                if (response.ok) {
                    return response.text();
                }
                throw new Error('Network response was not ok.');
            })
            .then(data => {
                console.log(data); // Log the response from the server
                // Optionally, you can show a success message to the user
            })
            .catch(error => {
                console.error('There was a problem with your fetch operation:', error);
                // Optionally, you can show an error message to the user
            });
        }
    </script>
</body>
</html>